---

- user:
    name: "{{ username }}"
    shell: /bin/bash
    password: "{{ user_password }}"
  tags:
    - users

- authorized_key:
    user: "{{ username }}"
    key: "{{ item }}"
  with_file:
    - public_keys/key.pub
  tags:
    - users

- git:
  sudo: yes
  sudo_user: "{{ username }}"
  args:
    repo: "{{ dotfiles }}"
    dest: "/home/{{ username }}/Code/dotfiles"
  tags:
    - users

- shell: ./setup.sh
  sudo: yes
  sudo_user: "{{ username }}"
  args:
    chdir: "/home/{{ username }}/Code/dotfiles"
  tags:
    - users

- file:
    path: /etc/ferm/manual.d
    owner: root
    group: adm
    state: directory
    mode: 0644
  tags:
    - config

- template:
    src: ferm.j2
    dest: /etc/ferm/ferm.conf
    owner: root
    group: adm
    mode: 0644
    backup: yes
  tags:
    - config
  notify:
    - restart ferm

- lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: "PasswordAuthentication", line: "PasswordAuthentication no" }
    - { regexp: "^Port ", line: "Port {{ ssh_port }}" }
  notify:
    - restart ssh
  tags:
    - config

- ini_file:
    dest: /etc/fail2ban/jail.conf
    section: ssh
    option: port
    value: "{{ ssh_port }}"
    backup: yes
  notify:
    - restart fail2ban
  tags:
    - config

- lineinfile:
    dest: /etc/sudoers
    line: "Defaults        env_keep += HOME"
    state: present
    validate: "/usr/sbin/visudo -cf %s"
  tags:
    - users

- template:
    src: sudoers.d.j2
    dest: "/etc/sudoers.d/{{ username }}"
    mode: 0440
    owner: root
    group: root
    validate: "/usr/sbin/visudo -cf %s"
  tags:
    - users

- lineinfile:
    dest: /etc/monit/monitrc
    backup: yes
    line: "{{ item.line }}"
  with_items:
    - { line: "set alert {{ monit_alert_mail }}" }
    - { line: "set mailserver {{ monit_mail_server }} port {{ monit_mail_port }}" }
  notify:
    - restart monit
  tags:
    - monit

- template:
    src: "{{ item.name }}"
    dest: "/etc/monit/conf.d/{{ item.dest }}"
    mode: 0600
    owner: root
    group: root
  with_items:
    - { name: "fs.monit.j2", dest: "fs" }
    - { name: "ssh.monit.j2", dest: "ssh" }
  notify:
    - restart monit
  tags:
    - monit

- file:
    path: /etc/aliases
    state: touch
    owner: root
    group: root
    mode: 0644
  tags:
    - users

- lineinfile:
    dest: /etc/aliases
    backup: yes
    line: "root: {{ monit_alert_mail }}"
  notify:
    - update aliases
  tags:
    - users
